
*{
	padding:0;
	margin:0;
	font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;

}
body{
	background-color: #000000f2;
	overflow-x: hidden;

}

::placeholder
{
	font-weight: 400;
	font-size: 17px;
	text-align: center;
	color: white !important;
	opacity: 0.5 !important;

}

 .layer
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255,.7);
    text-align: center;
	color:#000;
	font-weight: 800;
	transition: all 1s;
}

.movie{
    overflow: hidden;
}
.movie:hover .layer
{
	top: 0;
	transition: all 1s;
}
.form-control
{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.7);
	border-radius: 0;
	color: #fff;
	font-weight: 800;
}
.form-control:focus
{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.7);
	border-radius: 0;
}
@media (max-width:580px)
{
		.myM 
	{
		margin-left: 3.8rem!important;

	}
}



ul li {
    list-style: none;
	color: white;
    
}

.nav-tab{
    background-color: #0D0D0D;
}

.logo{
    width: 30px;
}

i{
    cursor: pointer;
}

.side-nav-menu{
    z-index: 99;
}

.cursor-pointer{
    cursor: pointer;
}